<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Inclusion du fragment header -->
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body class="vertical light">
    <!-- Inclusion du fragment navbar -->
    <div class="wrapper">
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <!-- Contenu principal de la page -->
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h1>Bienvenue sur la page principale</h1>
                        <p>Ceci est un exemple de contenu principal.</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Inclusion du fragment footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>